<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/shankarsk/IdeaProjects/APPIUM_CRED/src/test/java/Learning">
        <classes>
            <class name="Learning.AppiumTest">
                <methods>
                    <include name="appium"/>
                </methods>
            </class>
            <class name="Learning.RestassuredTest">
                <methods>
                    <exclude name="restapi"/>
                </methods>
            </class>
            <class name="Learning.selniumTest">
                <methods>
                    <include name="selenium"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>